@{
    ViewData["Title"] = "Home";
}

    <div class="align-middle text-center">
        <br /><br /><br />
        <h1 class="display-4">Bem Vindo ao PUCCoins</h1>
        <p>________________________________________________________________</p>
        <h1>...</h1>
        <p>________________________________________________________________</p>
        <br />
        <h2>Moedas: 100</h2>
    </div>
